.main-contact-text {
    margin-bottom:40px;
    color:$color3;
    text-align: center;
    opacity: 0.5;

}


.mail{
  padding: 20px;
  text-align: center;
  font-size:1.5em;
}

.tel{

  padding: 30px;
  text-align: center;
  font-size: 1.5em;

}

.portals{
  padding: 20px;
  text-align: center;
  font-size: 1.5em;
}

.portals img{
  padding: 20px;
}

.portals img:hover{
  opacity: 0.6;
}

.download-cv{
  padding: 40px;
  text-align: center;
  font-size: 1.5em;
}

.download-cv img:hover{
  opacity: 0.6;
}

.box-contact{
  padding: 20px;
  color: $color3;

}

@media only screen and (max-width:1024px) {

  .box-contact{
    width: 100%;
    justify-content: center;
    padding: 10px;
  }

}